/* * { color: pink; background-color: gray; } */

h1 {
    background: red;
    width: 100px;

    /* transition-property: width, background-color; */


    transition-property: width, background-color;
    transition-duration: 5s;


}

h1:hover {

    background-color: blue;

    width: 400px;
}