    div#ig {
    width: 100px; height: 100px;
    background: linear-gradient(to right bottom, yellow, white);
    }
    
    div#ie {
    width: 100px; height: 100px;
    background: linear-gradient(135deg, purple, white);
    }