div {
    width: 100px;
    height: 100px;
}

#a {
    background-color: red;
    float: left;
 
}
#b {
    background-color: orange;
    float: right;
  
}
#c {
    background-color: yellow;
    float: none;
    width: 400px;
}
#d {
    background-color: green;    
    float: left;
  
}
#e {
    background-color: blue;
    float: right
    
}