#area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    flex-direction: row;  
    background-color: pink;
}

#box {
    display: flex;
    flex-direction: row;    
    /* flex-direction: column; */
    width: 1200px;
    height: 100px;
  }
  
  .ex {
  
  }
  
  #a{
    background-color: red;
    flex-basis: 10%;
  }
  #b{
    background-color: orange;
    flex-basis: 30%;
  }
  #c{
    background-color: yellow;
    flex-basis: 35%;
  }
  #d{
    background-color: green;
    flex-basis: 10%;
  }
  #e{
    background-color: blue;
    flex-basis: 15%;
  }