#box {
    display: flex;
    flex-direction: row;    
    /* flex-direction: column; */
    width: 800px;
    height: 800px;
  }
  
  .ex {
   width: 100px;
    height: 100px;
  }
  
  #a{
    background-color: red;
    flex-basis: 10%;
  }
  #b{
    background-color: orange;
    flex-basis: 30%;
  }
  #c{
    background-color: yellow;
    flex-basis: 35%;
  }
  #d{
    background-color: green;
    flex-basis: 10%;
  }
  #e{
    background-color: blue;
    flex-basis: 15%;
  }